@import url(Variables.css);

body {
    background-color: var(--background);
}

.container {
    padding: 1rem 12rem;
}

header {
    background-color: var(--topbarbgc);

    width: 100%;
    z-index: 2;
    margin-bottom: 3rem;
}

.top-bar {

    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    font-family: var(--font);
}

.top-bar__title {
    color: white;
    font-family: var(--font);
    font-size: 2rem;
}

.top-bar__items {
    color: var(--graytext);
    display: flex;

}

.tap-bar__item {
    margin: 0 1rem;
    cursor: pointer;
}

.intro__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--background);
    padding: 0 3rem;
  
}
.intro__main-content{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100rem;
}
.intro__img{
    width: 100%;
    height: 100%;
}
.intro__title {
    font-family: 'Roboto';
    font-size: 8rem;
    text-wrap: wrap;
    text-align: center;
    font-weight: bold;

}

.intro__title-text {
    color: white;
}


.concatus-btn {
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--whitebackground);
    border: none;
    color: white;
    transition: all 200ms ease;
}

.concatus-btn-text {
    font-size: 1rem;
}

.concatus-btn:hover {
    background-color: white;

    .concatus-btn-text {
        color: var(--graytext);
    }
}

.intro__main-content {
    display: flex;
    justify-content: space-around;
}

.intro__item {
    margin: 0 0.5rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitebackground);
    border: 1px solid var(--whitebackground);
    border-radius: 7px;
}

.intro__content {
    margin: 0 2rem;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto';

}

.intro__content-subtitle {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--graytext);
}

.intro__item-icon {
    font-size: 3rem;
    color: var(--green);
}

.intro__content-count {
    font-weight: bold;
}



.intro__foot-content {
    display: flex;
    margin-top: 7rem;
    justify-content: space-between;
    align-items: center;
}

.intro__foot-info {
    text-align: center;
    font-size: 1.5rem;
}

.intro__foot-title {
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto';
}

.intro__foot-subtitle {
    color: white;
    font-family: 'Roboto';
    text-wrap: wrap;
    margin-bottom: 1rem;
}


.swiper {


    margin: auto;

}

.courses {
    margin-top: 8rem;
    width: 100rem;
    margin: auto;
}

.courses-header {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
}

.curseses__item {
    width: 14rem;
    width: auto;
    background-color: var(--whitebackground);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0rem;
    padding: 1rem;

}

.courses__image {
    width: 15rem;
    height: 15rem;


}

.courses__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.courses__title {
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-family: 'Roboto';
}

.cources__info {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Roboto';
}


.Tutors {

    width: 100rem;
    text-align: center;

    margin: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.Tutors__titles,
.Tutors__title {
    display: inline;
    color: white;
    font-family: 'Roboto';
    font-size: 2rem;
}

.Tutors__titles {
    color: var(--green);
}

.Tutors__item {

    margin-top: 9rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

}

.tutors__profile {

    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.swiper-pagination {
    margin-top: 4rem;
}

.Tutors__name {
    text-align: center;
    color: white;
    font-family: 'Roboto';
}

.tutors__social-menu {

    opacity: 0;
    position: absolute;
    width: 3rem;
    height: 15rem;

    left: 10px;
    top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
}

.tutor__social-menu-item {

    width: 3rem;
    height: 5rem;
    background-color: #fff;
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Tutors__item:hover {
    .tutors__social-menu {
        opacity: 1;
    }


}

.tutor__social-menu-item:hover {
    background-color: var(--green);

    .tutor__social-icon {

        color: white;
    }
}

.tutor__social-icon {

    font-size: 1.5rem;

    /* width: 2rem;
    height: 2rem; */
}

.contant {
    text-align: center;
}

.cantact_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.contact__form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.input {
    width: 50rem;
    height: 3rem;
    background-color: var(--whitebackground);
    border: none;
    outline: none;
    color: var(--graytext)
}

.input-title {
    margin: 1rem;
    color: white;
    font-family: 'Roboto';
}
.send{
    margin-top: 5rem;
}
.contact__titlee{
    color: white;
    font-family: 'Roboto';
    font-size: 3rem;
}
.courses-header{
    font-size: 2rem;
    color: var(--green)
    ;
    font-family: 'Roboto';
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: var(--whitebackground);
}
::-webkit-scrollbar-thumb{
    background-color: var(--green);
}